@charset "UTF-8";
/*
	All rights reserved to Maria Coding
	mariacoding.com | @mariacoding	 
*/
/*********************************/
/*        Sass Variables         */
/*********************************/
/* Fonts Variables*/
/*----------------*/
/*----------------*/
/*----------------*/
/*----------------*/
/*----------------*/
/* Names Colors*/
/* http://www.color-hex.com/color-names.html*/
/* Colors Variables*/
/* create after WAVE validation - see after what color it will be*/
/* it was $DarkAquamarine before WAVE validation*/
/* it was rgba(32, 112, 104, .6) before WAVE validation*/
/* it was rgba(225, 206, 192, .2) before WAVE validation*/
/* create after WAVE validation - see after what color it will be*/
/* it was $DarkAquamarine before WAVE validation*/
/* it was $PaleTurquoise4 before WAVE validation*/
/* it was $primary-color before WAVE validation;*/
/* it was $secundary-color before WAVE validation;*/
/* it was $primary-color before WAVE validation;*/
/* Margin and Padding Variables */
/* Navigation*/
/* Footer*/
/* Width & Height Variables*/
/* Navigation*/
/*----------------*/
/* Footer*/
/*----------------*/
/* Borders*/
/*----------------*/
/* Carousel*/
/*----------------*/
/* Objects Width & Height Variables*/
/*----------------*/
/* Left and Right Container*/
/* 52rem */
/* 42.5rem */
/* 42rem */
/* 60rem */
/* 55rem */
/* 46rem */
/* 59rem */
/* 54rem */
/* 43rem */
/* 38rem */
/* 28rem */
/* 30rem */
/* 40rem */
/* 32rem */
/* 32rem */
/*----------------*/
/*55rem;*/
/*44rem;*/
/*;*/
/* Mixins*/
/*End of Sass Variables
---------------------------------------------------------------- */
/*********************************/
/*            Layout             */
/*********************************/
/* Bootstrap Grid 
---------------------------------------------------------------- */
/* Bootstrap Media Objects
---------------------------------------------------------------- */
/* Bootstrap Responsive utilities
---------------------------------------------------------------- */
/*********************************/
/*            Content            */
/*********************************/
/***************************************************************/
/* Typography and Code
---------------------------------------------------------------- */
/* Import Custom Fonts */
@font-face {
  font-family: indie-flower;
  src: url(../fonts/indie-flower/IndieFlower.ttf); }
@font-face {
  font-family: josefin-sans;
  src: url(../fonts/josefin-sans/JosefinSans-SemiBold.ttf); }
@font-face {
  font-family: josefin-sansBold;
  src: url(../fonts/josefin-sans/JosefinSans-Bold.ttf); }
/*----------------------*/
html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin: 0 0;
  margin-bottom: 53.5rem;
  padding: 0;
  font-family: josefin-sans, Helvetica, Arial, sans-serif;
  color: #1A5B55;
  background-color: rgba(246, 239, 235, 0.5);
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  vertical-align: baseline; }

main {
  padding-top: 0;
  padding-bottom: 5rem; }

/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
  font-family: josefin-sansBold, Helvetica, Arial, sans-serif;
  padding-top: 1%;
  padding-bottom: 0.3%;
  font-weight: bolder; }

h1 {
  color: #1A5B55;
  font-size: 3.4rem;
  line-height: 160%; }

h1.inverse-color {
  color: rgba(245, 245, 245, 0.7); }

h2 {
  font-size: 2.6rem;
  color: #1A5B55;
  line-height: 150%; }

h2.inverse-color {
  color: #39c9bb; }

h3 {
  font-size: 2rem;
  color: #1A5B55;
  line-height: 140%; }

h3.inverse-color {
  font-size: 1.9rem;
  color: rgba(57, 201, 187, 0.5); }

h4 {
  font-size: 1.7rem;
  color: #1A5B55;
  line-height: 130%; }

h4.inverse-color {
  color: rgba(57, 201, 187, 0.5); }

h5 {
  font-size: 1.6rem;
  color: #1A5B55;
  line-height: 120%; }

h5.inverse-color {
  color: rgba(57, 201, 187, 0.5); }

h6 {
  font-size: 1.5rem;
  color: #1A5B55;
  line-height: 110%; }

h6.inverse-color {
  color: rgba(57, 201, 187, 0.5); }

/* TEXT */
p {
  font-size: 1.6rem;
  color: #1A5B55;
  font-weight: 200;
  line-height: 105%; }

p.inverse-color {
  color: rgba(245, 245, 245, 0.7); }

p.dark-color {
  color: #222; }

span {
  font-size: 1.6rem;
  color: #1A5B55;
  font-weight: 300; }

span.inverse-color {
  color: rgba(245, 245, 245, 0.7); }

span.dark-color {
  color: #222; }

a, a:link, a:visited {
  font-size: inherit;
  color: rgba(57, 201, 187, 0.5);
  text-shadow: 0.01rem 0.01rem #1A5B55; }

a:hover, a:focus, a:active {
  font-size: inherit;
  color: #b4eae5; }

a:disabled {
  font-size: inherit;
  color: #f5f5f5; }

a.inverse-color, a.inverse-color:link, a.inverse-color:visited {
  font-size: inherit;
  color: #39c9bb !important; }

/* Lead body copy */
.lead {
  font-size: 220%;
  font-weight: 500;
  line-height: 140%; }

/* Display */
.display-1, .display-2, .display-3, .display-4 {
  color: #f5f5f5; }

/* Emphasis */
small {
  font-size: 1em;
  font-weight: 100;
  font-family: josefin-sans, Helvetica, Arial, sans-serif; }

strong {
  font-family: josefin-sansBold, Helvetica, Arial, sans-serif;
  font-size: 100%;
  color: #1A5B55;
  font-weight: bold; }

em {
  font-size: 100%;
  color: #1A5B55;
  font-weight: 200;
  font-style: italic; }

.text-muted {
  color: #f7f7f7; }

.text-warning {
  color: #cd3700; }

.text-error {
  color: #8b0000; }

.text-info {
  color: #27408b; }

.text-success {
  color: #2e8b57; }

/* Abbreviations */
abbr {
  text-decoration-style: dotted;
  -webkit-text-decoration-style: dotted;
  -moz-none-text-decoration-style: none;
  /*recomendation of https://developer.mozilla.org/en/docs/Web/CSS/text-decoration-style*/ }

.initialism {
  font-size: 0.8rem;
  font-weight: 100; }

/* Addresses */
address {
  font-family: sans-serif, "open sans", Arial;
  font-size: 0.8rem;
  color: #999999;
  font-weight: 300; }
  address p {
    color: #999999; }
  address span {
    margin-bottom: 0.1rem;
    color: #999999;
    line-height: 95%; }

/* Blockquotes */
blockquote, .blockquote {
  font-family: indie-flower, cursive;
  font-size: 0.9rem;
  color: #1A5B55; }
  blockquote p, .blockquote p {
    line-height: 135%; }

blockquote::first-letter, .blockquote::first-letter {
  font-weight: bold;
  font-size: 200%;
  vertical-align: top;
  display: inline;
  margin-right: 1%;
  margin-bottom: 1%; }

blockquote.dark-color {
  color: #222; }

.blockquote-footer {
  font-size: 1.8rem;
  color: #f7f7f7; }

cite {
  font-size: 1.15rem;
  font-weight: 100;
  color: #39c9bb;
  font-family: josefin-sans, Helvetica, Arial, sans-serif; }

/* Block of Code */
code, pre, .blockcode {
  font-family: currier;
  font-size: 1.1rem;
  line-height: 1.9rem;
  color: #f8f8ff;
  background: #272822;
  padding: 0.5%; }
  code p, code span, pre p, pre span, .blockcode p, .blockcode span {
    color: #f8f8ff;
    padding: 1%; }

/* Lists */
li {
  display: list-item;
  font-size: 1.4rem;
  color: #1A5B55;
  font-weight: 200;
  margin-bottom: 0.3rem;
  text-indent: 0.6rem; }

/* unordered list */
ul li {
  font-size: 1.4rem;
  line-height: 100%; }
ul ul li {
  font-size: 1.4rem;
  line-height: 100%; }
ul ul li:first-child {
  padding-top: 1%; }

/* ordered list */
ol {
  counter-reset: section;
  list-style-type: none;
  margin: 0;
  font-size: 1rem; }
  ol li {
    font-size: 1.4rem;
    display: table;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    line-height: 100%; }
    ol li ol li {
      font-size: 1.4rem;
      margin-top: 0.3rem;
      margin-bottom: 0.3rem; }
  ol li::before {
    counter-increment: section;
    content: counters(section,".") ".";
    padding-right: 0.6rem; }

/* unstyled list */
.unstyled {
  list-style-type: none; }

/* inline list */
ul.inline > li {
  display: inline-block; }

ol.inline > li {
  display: inline-block; }

/* description list */
dl {
  font-size: 1.2rem;
  line-height: 100%; }

dt {
  font-weight: bold; }

dd {
  font-size: 1rem;
  text-align: justify;
  text-justify: inter-word; }

.dl-horizontal {
  margin-bottom: 0.3rem; }

hr {
  border: 0.01rem solid rgba(26, 91, 85, 0.7); }

hr .inverse-color {
  border: 0.1rem solid rgba(246, 239, 235, 0.5); }

hr.drop-shadow {
  height: 1rem;
  border-bottom: none;
  box-shadow: inset 0 0.9rem 0.9rem -0.3rem rgba(26, 91, 85, 0.7);
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  border-radius: 0.3rem; }

/*----------------------*/
/* End of Typography and Code
---------------------------------------------------------------- */
/***************************************************************/
/* Images, videos, PDFs, Tables and Figures
---------------------------------------------------------------- */
/* Images */
img {
  margin: 0 auto; }

figure {
  margin: 0 auto; }

figcaption {
  font-size: 1rem;
  font-style: italic; }

.my-photo {
  background-image: url(../images/about/my-photo-md.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 11.429rem;
  height: 13.714rem;
  margin: 0 auto; }

.bda-flag {
  background-image: url(../images/about/flag-of-bermuda-md.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 21.429rem;
  height: 10.714rem;
  margin: 0 auto; }

.bda-coat-of-arms {
  background-image: url(../images/about/coat-of-arms-of-bermuda-md.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 13.071rem;
  height: 19.236rem;
  margin: 0 auto; }

.blog-post-img {
  margin: 0 auto; }

.last-post-img {
  min-width: 7rem; }

/* Video */
.video {
  width: 35rem;
  height: 19.69rem; }

/* PDF */
.pdf {
  width: 100%;
  height: 59.38rem; }

/* ------ 3d Box Images changing style-------*/
.boxes-bg {
  display: table;
  margin: 0 auto; }

figure.box-fig {
  position: relative;
  width: 18rem;
  height: 12rem;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  -webkit-transform: perspective(500);
  transform: perspective(500);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: .6s;
  transition: .6s; }

figure.box-fig:hover {
  -webkit-transform: perspective(500) rotateX(90deg) translateY(-6rem) translateZ(6rem);
  transform: perspective(500) rotateX(90deg) translateY(-6rem) translateZ(6rem); }

img.box-img {
  background-color: #222;
  box-shadow: 0 2rem 1.5rem -1rem rgba(68, 68, 68, 0.25);
  display: block;
  height: 100%;
  -webkit-transition: .6s;
  transition: .6s; }

figure.box-fig:hove img.box-img {
  box-shadow: none; }

h2.box-title, h3.box-title {
  color: #f5f5f5;
  text-shadow: 0.1rem 0.1rem #222;
  font-size: 1.2rem;
  padding: 0;
  background: rgba(68, 68, 68, 0.8);
  line-height: 100%;
  width: 18rem;
  height: 3rem;
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  z-index: 1; }

figcaption.box-caption {
  content: inherit;
  background-color: #222;
  min-height: 12rem;
  padding: 0.1rem;
  line-height: 100%;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transition: .6s;
  transition: .6s; }

figcaption.box-caption:last-child {
  padding-right: 0; }

figure.box-fig:hover figcaption.box-caption {
  box-shadow: 0 2rem 1.5rem -1rem rgba(68, 68, 68, 0.25); }

a.box-caption,
a.box-caption:link {
  color: #39c9bb; }

.bda-map-container {
  position: relative;
  margin: 0 auto;
  padding-bottom: 56.25%;
  /*aspect ratio 16:9 */
  padding-top: 1.875rem;
  height: 0;
  overflow: hidden; }

.bda-map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

/*----------------------*/
/* Tables */
.table th,
.table td {
  border-top: 1px solid #1A5B55; }

.table thead th {
  border-bottom: 2px solid #1A5B55; }

.table tbody + tbody {
  border-top: 2px solid #1A5B55; }

.table .table {
  background-color: #1A5B55; }

.table-sm th,
.table-sm td {
  padding: .3rem;
  font-family: Helvetica, Arial, sans-serif; }

.thead-default th {
  color: #F6EFEB;
  background-color: rgba(26, 91, 85, 0.7);
  font-weight: bold; }

.table-inverse {
  color: #f5f5f5;
  background-color: #1A5B55; }

.thead-inverse th {
  color: #f5f5f5;
  background-color: #1A5B55; }

.table-striped tbody > tr:nth-child(odd) {
  background-color: rgba(102, 139, 139, 0.5);
  border-top: 0.12rem solid #1A5B55;
  border-bottom: 0.1rem solid #1A5B55; }

.table-bordered {
  border: 0.2em solid #1A5B55; }

.table-bordered + .table-inverse {
  border: 0.2em solid #f5f5f5; }

/*----------------------*/
/* Parallax--------------------------------------- */
/* Images */
.parallax-img-bg {
  padding: 28% 0;
  margin-bottom: 0;
  background-image: url(../images/jumbotron-img-xs.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.85;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.parallax-img-bg:hover {
  opacity: 1; }

.img2-bg {
  padding: 10% 0;
  margin-bottom: 0;
  background-image: url(../images/img-quote01-xs.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.90;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.img2-bg:hover {
  opacity: 1; }

.img2-bg-color {
  background-color: #E1CEC0; }

.img3-bg {
  padding: 10% 0;
  margin-bottom: 0;
  background-image: url(../images/img-quote02-xs.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.90;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.img3-bg:hover {
  opacity: 1; }

.img3-bg-color {
  background-color: rgba(26, 91, 85, 0.7); }

/* Image's text */
.img-text {
  color: #f5f5f5;
  text-shadow: 0.2rem 0.2rem #222; }

h1.img-text {
  border: 0.5rem solid #f5f5f5;
  background: rgba(15, 15, 15, 0.3);
  margin-left: 16%;
  margin-right: 16%; }

.underconstruction {
  padding: 28% 0;
  margin-top: -0.8%;
  margin-bottom: 0;
  background: rgba(26, 91, 85, 0.7);
  background-image: url(../images/undercontruction.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.75;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.underconstruction:hover {
  opacity: 1; }

.no-landing-pg-hero-img {
  padding: 1.25% 0;
  margin-top: -0.8%;
  margin-bottom: 0;
  background: rgba(26, 91, 85, 0.7);
  background-image: url(../images/no-landing-pg-hero-xs.jpg) !important;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.75;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.no-landing-pg-hero-img {
  opacity: 1; }

/*----------------------*/
/* ------ start Animations style ---------------*/
/* ------ Fly in Text style-------*/
.fly-in-text {
  list-style: none;
  position: absolute;
  left: 50%;
  top: 30%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.fly-in-text li {
  display: inline-block;
  margin-right: 1%;
  font-family: josefin-sans, Helvetica, Arial, sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 7rem;
  text-transform: uppercase;
  text-shadow: 0.2rem 0.2rem #4A4444;
  opacity: 0.6;
  transition: all 1.5s ease; }

.fly-in-text li:last-child {
  margin-right: 0; }

.fly-in-text li {
  margin-right: 0; }

.fly-in-text.hidden li {
  opacity: 0; }

.fly-in-text.hidden li:first-child {
  transform: translateX(-12.5rem) translateY(-15.5rem); }

.fly-in-text.hidden li:nth-child(2) {
  transform: translateX(1.25rem) translateY(2.25rem); }

.fly-in-text.hidden li:nth-child(3) {
  transform: translateX(-9.38rem) translateY(-8rem); }

.fly-in-text.hidden li:nth-child(4) {
  transform: translateX(0.6rem) translateY(-15.5rem); }

.fly-in-text.hidden li:nth-child(5) {
  transform: translateX(-19.38rem) translateY(9.5rem); }

.fly-in-text.hidden li:nth-child(6) {
  transform: translateX(1.25rem) translateY(-4.25rem); }

.fly-in-text.hidden li:last-child {
  transform: translateX(1.88rem) translateY(9.5rem); }

/* ------ Color changing style-------*/
/* Background color*/
@keyframes bg-color-changing {
  /* 1st step color to beging with... */
  0% {
    background: #0c2c29; }
  /* Adding a 2nd step in the middle */
  25% {
    background: #13433e; }
  /* Adding a 3rd step in the middle */
  50% {
    background: #195953; }
  /* Adding a 4th step in the middle */
  75% {
    background: #207068; }
  /* Last step color to end (as it is an infinit loop will start the first step) */
  100% {
    background: #26867c; } }
/* Chrome */
@-webkit-keyframes bg-color-changing {
  /* 1st step color to beging with... */
  0% {
    background: #0c2c29; }
  /* Adding a 2nd step in the middle */
  25% {
    background: #13433e; }
  /* Adding a 3rd step in the middle */
  50% {
    background: #195953; }
  /* Adding a 4th step in the middle */
  75% {
    background: #207068; }
  /* Last step color to end (as it is an infinit loop will start the first step) */
  100% {
    background: #26867c; } }
/* Safari */
@-moz-keyframes bg-color-changing {
  /* 1st step color to beging with... */
  0% {
    background: #0c2c29; }
  /* Adding a 2nd step in the middle */
  25% {
    background: #13433e; }
  /* Adding a 3rd step in the middle */
  50% {
    background: #195953; }
  /* Adding a 4th step in the middle */
  75% {
    background: #207068; }
  /* Last step color to end (as it is an infinit loop will start the first step) */
  100% {
    background: #26867c; } }
/* Opera */
@-o-keyframes bg-color-changing {
  /* 1st step color to beging with... */
  0% {
    background: #0c2c29; }
  /* Adding a 2nd step in the middle */
  25% {
    background: #13433e; }
  /* Adding a 3rd step in the middle */
  50% {
    background: #195953; }
  /* Adding a 4th step in the middle */
  75% {
    background: #207068; }
  /* Last step color to end (as it is an infinit loop will start the first step) */
  100% {
    background: #26867c; } }
.animated-text-bg {
  padding-top: 10%;
  padding-bottom: 10%;
  margin: 0;
  background: #0c2c29;
  -webkit-animation: bg-color-changing 5s infinite 1s;
  -moz-animation: bg-color-changing 5s infinite 1s;
  -o-animation: bg-color-changing 5s infinite 1s;
  animation: bg-color-changing 5s infinite 1s; }

/* Text color*/
@keyframes text-color-changing {
  /* 1st step color to beging with... */
  0% {
    color: #e1e0e0; }
  /* Adding a 2nd step in the middle */
  25% {
    color: #a5a3a3; }
  /* Adding a 3rd step in the middle */
  50% {
    color: #6a6666; }
  /* Adding a 4th step in the middle */
  75% {
    color: #4a4747; }
  /* Last step color to end (as it is an infinit loop will start the first step) */
  100% {
    color: #353333; } }
/* Chrome */
@-webkit-keyframes text-color-changing {
  /* 1st step color to beging with... */
  0% {
    color: #e1e0e0; }
  /* Adding a 2nd step in the middle */
  25% {
    color: #a5a3a3; }
  /* Adding a 3rd step in the middle */
  50% {
    color: #6a6666; }
  /* Adding a 4th step in the middle */
  75% {
    color: #4a4747; }
  /* Last step color to end (as it is an infinit loop will start the first step) */
  100% {
    color: #353333; } }
/* Safari */
@-moz-keyframes text-color-changing {
  /* 1st step color to beging with... */
  0% {
    color: #e1e0e0; }
  /* Adding a 2nd step in the middle */
  25% {
    color: #a5a3a3; }
  /* Adding a 3rd step in the middle */
  50% {
    color: #6a6666; }
  /* Adding a 4th step in the middle */
  75% {
    color: #4a4747; }
  /* Last step color to end (as it is an infinit loop will start the first step) */
  100% {
    color: #353333; } }
/* Opera */
@-o-keyframes text-color-changing {
  /* 1st step color to beging with... */
  0% {
    color: #e1e0e0; }
  /* Adding a 2nd step in the middle */
  25% {
    color: #a5a3a3; }
  /* Adding a 3rd step in the middle */
  50% {
    color: #6a6666; }
  /* Adding a 4th step in the middle */
  75% {
    color: #4a4747; }
  /* Last step color to end (as it is an infinit loop will start the first step) */
  100% {
    color: #353333; } }
.animated-text-color {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin: 0;
  color: #6A6666;
  -webkit-animation: text-color-changing 5s infinite 1s;
  -moz-animation: text-color-changing 5s infinite 1s;
  -o-animation: text-color-changing 5s infinite 1s;
  animation: text-color-changing 5s infinite 1s; }

/*----------------------*/
/***************************************************************/
/* End of Images, Tables and Figures
---------------------------------------------------------------- */
/*********************************/
/*          Componentes          */
/*********************************/
/***************************************************************/
/* Navigation: Nav, NavBar, Breadcrumb
---------------------------------------------------------------- */
/* Nav Brand--------------------------------------- */
#brand {
  display: inline-block;
  position: relative;
  background-image: url(../images/logo-xs.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 4.375rem;
  height: 4.375rem;
  padding: 0.125rem;
  margin: 0 auto; }
  #brand h1 {
    font-size: 1rem;
    line-height: 100%;
    position: absolute;
    margin-left: 0.5%;
    margin-top: 99.5%; }

/* NavBar----------------------------------------- */
.bg-inverse {
  color: #39c9bb;
  background: #1A5B55; }

.navbar-dark .navbar-nav .nav-link {
  font-size: 1.75rem;
  color: #F6EFEB;
  margin-top: 0.225rem;
  margin-left: 5%;
  padding-bottom: 50%; }

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:active {
  color: #f5f5f5;
  text-decoration: underline; }

.navbar-dark .navbar-nav .active > .nav-link {
  color: #39c9bb !important; }

.navbar-toggler {
  color: #39c9bb;
  background-color: transparent;
  background-image: none;
  border-color: #39c9bb; }

.navbar-toggler:hover,
.navbar-toggler:focus,
.navbar-toggler:active {
  color: #1A5B55;
  background-color: rgba(245, 245, 245, 0.7);
  border-color: #39c9bb; }

/* Language Navigation Bar ------------------------ */
.language-nav {
  margin-top: 0;
  margin-bottom: 0.05rem;
  margin-right: 0.5%;
  width: 6rem;
  height: 2.3rem;
  color: #058578 !important;
  font-size: 0.8rem;
  font-family: Helvetica, Arial, sans-serif;
  float: right; }
  .language-nav a {
    font-weight: bold;
    color: #1A5B55 !important;
    background: #F6EFEB !important;
    padding: 0.65rem;
    border-radius: 15%; }
  .language-nav .active {
    color: #1A5B55 !important;
    background-color: #39c9bb !important; }

/* Search-box ------------------------ */
.search-box {
  margin-top: 0;
  margin-bottom: 0.05rem;
  margin-right: 0.5%;
  font-size: 1.1rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .search-box .form-control {
    width: 8.5rem;
    height: 2.3rem; }
  .search-box .btn {
    width: 2.1rem;
    height: 2.3rem;
    padding: .375rem; }

.lang-nav-search-box-sm-xl .language-nav {
  position: fixed;
  top: 0.8rem;
  right: 0.2rem; }
.lang-nav-search-box-sm-xl .search-box {
  position: fixed;
  top: 0.25rem;
  right: -5rem; }

/* Social-Media ------------------------ */
nav .fa-2x {
  font-size: 3.2rem !important;
  color: #39c9bb !important; }

/* Breadcrumbs----------------------------------------- */
.breadcrumb {
  list-style: none;
  list-style-type: none;
  color: #f5f5f5;
  background-color: rgba(26, 91, 85, 0.7);
  font-family: josefin-sansBold, Helvetica, Arial, sans-serif; }
  .breadcrumb a, .breadcrumb a:link {
    color: #f5f5f5; }
  .breadcrumb a.active {
    color: #1A5B55 !important; }

/* End of Navigation: Nav, NavBar, Breadcrumb
---------------------------------------------------------------- */
/***************************************************************/
/* Footer
---------------------------------------------------------------- */
/* Footer--------------------------------------- */
/* Sticky footer */
footer {
  font-size: 1.05rem;
  /* Important Links*/
  /* Newsletter */
  /* Social Media Icons */
  /* Copyright */
  /* Back-top button */
  /* Footer Navbar */ }
  footer ul {
    display: inline; }
    footer ul li {
      display: inline-block;
      font-size: 98%;
      width: 30rem;
      margin-right: 1rem;
      padding: 0.3rem 0;
      text-indent: 0; }
  footer h3 {
    font-size: 120% !important;
    color: #f5f5f5 !important; }
  footer hr {
    border-color: rgba(245, 245, 245, 0.7); }
  footer a, footer a:link {
    color: #b4eae5 !important; }
  footer .btn-secondary, footer a.btn-secondary, footer a.btn-secondary:link {
    color: #1A5B55 !important; }
  footer .form-fluid {
    font-size: 1.05rem;
    line-height: 100%; }
    footer .form-fluid label {
      font-size: 90%;
      font-weight: 400;
      margin-top: 1rem; }
    footer .form-fluid input {
      margin-top: 1rem; }
    footer .form-fluid button {
      margin-top: 0.5rem;
      font-size: 100%; }
  footer .fa-1x {
    font-size: 240%;
    padding: 0 0.5rem; }
  footer .copyright {
    font-family: Helvetica, Arial, sans-serif !important; }
  footer .back-top {
    padding-left: 0.5rem;
    border-left: none; }
  footer .navbar {
    padding: 0 0.5rem;
    margin: 3% 1.5%; }
  footer .nav-inline .nav-item {
    display: inline;
    font-family: Helvetica, Arial, sans-serif;
    border-right: solid 0.1rem #F6EFEB;
    padding-right: 0.6rem;
    vertical-align: middle;
    width: 10rem; }
  footer .nav-inline .nav-item + .nav-item {
    margin-left: 0 !important; }
  footer .navbar-nav .nav-link {
    display: block; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 53.5rem;
  line-height: 90%;
  background-color: #1A5B55; }

/* End of Footer
---------------------------------------------------------------- */
/***************************************************************/
/* Buttons, dropdowns, labels and Forms
---------------------------------------------------------------- */
/* Buttons, Icons, Labels, Forms and Pills -------------------------------------- */
/* Social-Media ------------------------ */
.network-name {
  display: inline-block;
  font-size: 1.1rem !important;
  color: #1A5B55;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 0.225rem;
  margin-bottom: 0.05rem;
  padding: 0.325rem; }
  .network-name a:link {
    color: #1A5B55; }
  .network-name a:hover, .network-name a:focus, .network-name a:visited, .network-name a:active {
    color: rgba(255, 255, 255, 0.5) !important;
    text-decoration: none; }
  .network-name .fa-2x {
    font-size: 3.2rem !important;
    color: #1A5B55; }

/* Buttons */
.btn, a.btn {
  margin: 0.1rem 0.2rem; }

.btn-primary, a.btn-primary, a.btn-primary:link {
  color: #f5f5f5 !important;
  font-family: josefin-sansBold, Helvetica, Arial, sans-serif;
  background-color: #1A5B55;
  border-color: #1A5B55; }

.btn-primary:hover,
.btn-primary:focus,
a.btn-primary:hover,
a.btn-primary:focus {
  color: #1A5B55;
  background-color: #F6EFEB;
  border-color: #F6EFEB; }

.btn-primary-outline,
a.btn-primary-outline,
a.btn-primary-outline:link {
  color: #39c9bb;
  background-color: transparent;
  background-image: none;
  border-color: #39c9bb; }

.btn-primary-outline:hover,
.btn-primary-outline:focus,
a.btn-primary-outline:hover,
a.btn-primary-outline:focus {
  color: #1A5B55;
  background-color: #f5f5f5;
  border-color: #1A5B55; }

.btn-secondary, a.btn-secondary, a.btn-secondary:link {
  color: #1A5B55;
  font-family: josefin-sansBold, Helvetica, Arial, sans-serif;
  background-color: #F6EFEB;
  border-color: #F6EFEB; }

.btn-secondary:hover,
.btn-secondary:focus,
a.btn-secondary:hover,
a.btn-secondary:focus {
  color: #F6EFEB;
  background-color: #39c9bb;
  border-color: #39c9bb; }

/* Forms */
/* Newsletter */
.form-fluid {
  font-size: 1rem;
  line-height: 100%; }
  .form-fluid label {
    font-size: 130%;
    font-weight: 600;
    height: inherit;
    vertical-align: top;
    margin-top: 1rem; }
  .form-fluid input {
    margin-top: 1.5rem; }
  .form-fluid input:first-child {
    margin-top: 0; }
  .form-fluid button {
    margin-top: 0.5rem;
    font-size: 120%; }

/* End of Buttons, dropdowns, labels and Forms
---------------------------------------------------------------- */
/***************************************************************/
/* Pagination
---------------------------------------------------------------- */
/*--pagination --*/
.pagination {
  font-size: 0.9em; }

.page-item.active .page-link {
  color: #f8f8ff !important;
  background: #39c9bb;
  border-color: #39c9bb; }

.page-link {
  color: #39c9bb !important;
  border-color: #39c9bb !important; }
  .page-link span {
    font-size: 0.9em;
    color: #39c9bb; }

.page-link:focus, .page-link:hover, .page-link:active {
  color: #39c9bb;
  background: #1A5B55; }

.pager {
  color: #39c9bb; }
  .pager a {
    width: 8em;
    color: #39c9bb;
    border-color: #39c9bb !important; }
  .pager a:focus, .pager a:hover, .pager a:active {
    color: #39c9bb;
    background: #1A5B55;
    text-decoration: underline  !important; }

/* End of Pagination
---------------------------------------------------------------- */
/***************************************************************/
/* Carrossel
---------------------------------------------------------------- */
/* Carousel--------------------------------------- */
.carousel-control {
  background: rgba(102, 139, 139, 0.5) !important;
  width: 5%;
  font-size: 120%;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }

.carousel-control:focus, .carousel-control:hover {
  color: #f8f8ff;
  text-decoration: none;
  outline: 0;
  opacity: .9; }

.carousel-control .icon-prev::before {
  content: "<i class=" fa fa-chevron-left " aria-hidden=" true "></i>";
  color: #f8f8ff; }

.carousel-control .icon-next::before {
  content: "<i class=" fa fa-chevron-right " aria-hidden=" true "></i>";
  color: #f8f8ff; }

.carousel-indicators ol {
  color: red; }

.carousel-indicators li {
  background-color: transparent;
  list-style-type: none;
  border: 1px solid #f8f8ff; }

.carousel-indicators li:active {
  color: #f8f8ff; }

/* End of Carrossel
---------------------------------------------------------------- */
/*********************************/
/*            Sessions           */
/*********************************/
/***************************************************************/
/* STYLE CROSS ALL PAGES-------------------------------------- */
/* Classes and Tags -------------------------------------- */
.screen-reader-only {
  /* CODE SNIPPET: https://www.w3.org/WAI/tutorials/forms/labels/#note-on-hiding-elements*/
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px; }

.no-underline {
  text-decoration: none;
  color: inherit; }

/* Cards */
.card {
  background-color: rgba(26, 91, 85, 0.7); }

.card img {
  margin: 0 auto; }

.card-height {
  height: 100%; }

.card-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: #f5f5f5;
  background-color: transparent; }

.card-subtitle {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 115%;
  color: #f5f5f5;
  background-color: transparent; }

.card-text {
  font-size: 1rem;
  font-weight: 400;
  color: #f5f5f5;
  background-color: rgba(26, 91, 85, 0.7); }
  .card-text p {
    color: #f5f5f5;
    font-size: 1rem; }
  .card-text span {
    color: #f7f7f7; }

/* Containers */
.container-left {
  margin: 0;
  padding-top: 5%;
  /*changes after medium screens*/
  padding-bottom: 0;
  height: 52rem; }

.container-right {
  margin: 0;
  padding-top: 0;
  /*changes after medium screens*/
  padding-bottom: 5%;
  height: 100%; }

/* Text backgrounds */
.text-bg {
  height: 100%;
  margin: 0 auto;
  margin-left: 5%;
  margin-right: 5%;
  padding: 3.5%;
  padding-top: 5%;
  padding-bottom: 5%; }

.text-small-bg {
  height: 100% !important;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 1rem;
  margin-right: 1rem; }

.text-bg-left {
  margin-left: 5%;
  margin-right: 5%;
  /*changes after medium screens*/ }

.text-bg-right {
  margin-left: 5%;
  /*changes after medium screens*/
  margin-right: 5%; }

.text-bg-center {
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 2%;
  margin-left: 2%;
  padding: 2%; }

.primary-color-bg {
  background: #1A5B55; }

.primary-rgba-bg {
  background: rgba(26, 91, 85, 0.7); }

.secundary-color-bg {
  background: #E1CEC0; }

.secundary-rgba-bg {
  background: rgba(246, 239, 235, 0.5); }

.other-color-bg {
  background: #39c9bb; }

.other-rgba-bg {
  background: rgba(255, 255, 255, 0.5); }

.another-color-bg {
  background: rgba(102, 139, 139, 0.5); }

.gray-color-bg {
  background: #C7D8D7; }

.light-turquoise-color-bg {
  background: #cae8e6;
  /*less lighter $another-color= #b5dfdc, darker: #a0d6d2*/ }

.transparent-bg {
  background: transparent; }

.text-pattern-wicker-bg {
  background: linear-gradient(45deg, #E1CEC0 12%, transparent 0, transparent 88%, #E1CEC0 0), linear-gradient(135deg, transparent 37%, rgba(26, 91, 85, 0.7) 0, rgba(26, 91, 85, 0.7) 63%, transparent 0), linear-gradient(45deg, transparent 37%, #E1CEC0 0, #E1CEC0 63%, transparent 0) rgba(26, 91, 85, 0.7);
  background-size: 1.5rem 1.5rem; }

.text-pattern-waves-bg {
  background-color: #39c9bb;
  background-image: radial-gradient(circle at 100% 150%, rgba(57, 201, 187, 0.5) 24%, rgba(26, 91, 85, 0.7) 25%, rgba(26, 91, 85, 0.7) 28%, rgba(57, 201, 187, 0.5) 29%, rgba(57, 201, 187, 0.5) 36%, rgba(26, 91, 85, 0.7) 36%, rgba(26, 91, 85, 0.7) 40%, transparent 40%, transparent), radial-gradient(circle at 0 150%, rgba(57, 201, 187, 0.5) 24%, rgba(26, 91, 85, 0.7) 25%, rgba(26, 91, 85, 0.7) 28%, rgba(57, 201, 187, 0.5) 29%, rgba(57, 201, 187, 0.5) 36%, rgba(26, 91, 85, 0.7) 36%, rgba(26, 91, 85, 0.7) 40%, transparent 40%, transparent), radial-gradient(circle at 50% 100%, rgba(102, 139, 139, 0.5) 10%, rgba(57, 201, 187, 0.5) 11%, rgba(57, 201, 187, 0.5) 23%, rgba(26, 91, 85, 0.7) 24%, rgba(26, 91, 85, 0.7) 30%, rgba(57, 201, 187, 0.5) 31%, rgba(57, 201, 187, 0.5) 43%, rgba(26, 91, 85, 0.7) 44%, rgba(26, 91, 85, 0.7) 50%, rgba(57, 201, 187, 0.5) 51%, rgba(57, 201, 187, 0.5) 63%, rgba(26, 91, 85, 0.7) 64%, rgba(26, 91, 85, 0.7) 71%, transparent 71%, transparent), radial-gradient(circle at 100% 50%, rgba(26, 91, 85, 0.7) 5%, rgba(57, 201, 187, 0.5) 6%, rgba(57, 201, 187, 0.5) 15%, rgba(26, 91, 85, 0.7) 16%, rgba(26, 91, 85, 0.7) 20%, rgba(57, 201, 187, 0.5) 21%, rgba(57, 201, 187, 0.5) 30%, rgba(26, 91, 85, 0.7) 31%, rgba(26, 91, 85, 0.7) 35%, rgba(57, 201, 187, 0.5) 36%, rgba(57, 201, 187, 0.5) 45%, rgba(26, 91, 85, 0.7) 46%, rgba(26, 91, 85, 0.7) 49%, transparent 50%, transparent), radial-gradient(circle at 0 50%, rgba(26, 91, 85, 0.7) 5%, rgba(57, 201, 187, 0.5) 6%, rgba(57, 201, 187, 0.5) 15%, rgba(26, 91, 85, 0.7) 16%, rgba(26, 91, 85, 0.7) 20%, rgba(57, 201, 187, 0.5) 21%, rgba(57, 201, 187, 0.5) 30%, rgba(26, 91, 85, 0.7) 31%, rgba(26, 91, 85, 0.7) 35%, rgba(57, 201, 187, 0.5) 36%, rgba(57, 201, 187, 0.5) 45%, rgba(26, 91, 85, 0.7) 46%, rgba(26, 91, 85, 0.7) 49%, transparent 50%, transparent);
  background-size: 6.25rem 3.125rem; }

.text-pattern-cubes-bg {
  background-color: rgba(102, 139, 139, 0.5);
  background-image: linear-gradient(30deg, rgba(26, 91, 85, 0.7) 12%, transparent 12.5%, transparent 87%, rgba(26, 91, 85, 0.7) 87.5%, rgba(26, 91, 85, 0.7)), linear-gradient(150deg, rgba(26, 91, 85, 0.7) 12%, transparent 12.5%, transparent 87%, rgba(26, 91, 85, 0.7) 87.5%, rgba(26, 91, 85, 0.7)), linear-gradient(30deg, rgba(26, 91, 85, 0.7) 12%, transparent 12.5%, transparent 87%, rgba(26, 91, 85, 0.7) 87.5%, rgba(26, 91, 85, 0.7)), linear-gradient(150deg, rgba(26, 91, 85, 0.7) 12%, transparent 12.5%, transparent 87%, rgba(26, 91, 85, 0.7) 87.5%, rgba(26, 91, 85, 0.7)), linear-gradient(60deg, rgba(57, 201, 187, 0.5) 25%, transparent 25.5%, transparent 75%, rgba(57, 201, 187, 0.5) 75%, rgba(57, 201, 187, 0.5)), linear-gradient(60deg, rgba(57, 201, 187, 0.5) 25%, transparent 25.5%, transparent 75%, rgba(57, 201, 187, 0.5) 75%, rgba(57, 201, 187, 0.5));
  background-size: 3rem 5.25rem;
  background-position: 0 0, 0 0, 1.5rem 2.625rem, 1.5rem 2.625rem, 0 0, 1.5rem 2.625rem; }

/* End of STYLE CROSS ALL PAGES
---------------------------------------------------------------- */
/*----------------------*/
/*********************************/
/*         Media Queries         */
/*********************************/
/*  Breaking points*/
/***************************************************************/
/*  Small devices (landscape phones, 34em and up >=544px)       */
@media (min-width: 34rem) {
  body {
    margin-bottom: 42rem;
    /* Margin bottom by footer height */
    font-size: 0.875rem; }

  /* Footer----------------------------------------- */
  .footer {
    height: 42rem; }

  footer {
    font-size: 1.05rem; }
    footer ul {
      display: inline; }
      footer ul li {
        width: 30rem;
        padding-top: 0.6rem; }
    footer .navbar {
      padding: 0.5rem;
      margin: 1.5% 1.5%; }
    footer .fa-1x {
      font-size: 210%; }

  /* Navigation----------------------------------------- */
  /* Language Navigation Bar */
  .language-nav {
    width: 6.25rem;
    height: 2.4rem;
    margin-top: 0; }
    .language-nav a {
      padding: 0.65rem; }

  /* Search-box */
  .search-box {
    margin-top: 0;
    margin-right: 0.5%; }
    .search-box .form-control {
      width: 9rem;
      height: 2.4rem; }
    .search-box .btn {
      width: 2.6rem;
      height: 2.4rem;
      padding: 0.25rem; }

  .jumbotron .search-box {
    right: -10rem; }

  /* Social-Media */
  .network-name {
    padding: 0.8rem;
    margin-top: 0.2rem;
    margin-bottom: 0.05em; }

  /* ------ Images ---------------*/
  /* Parallax Images */
  .parallax-img-bg {
    padding: 17% 0;
    background-image: url(../images/jumbotron-img-sm.jpg); }

  .img2-bg {
    background-image: url(../images/img-quote01-sm.jpg); }

  .img3-bg {
    background-image: url(../images/img-quote02-sm.jpg); }

  .underconstruction {
    background-image: url(../images/undercontruction-sm.jpg) !important; }

  .no-landing-pg-hero-img {
    background-image: url(../images/no-landing-pg-hero-sm.jpg) !important; }

  /* About Images */
  .my-photo {
    background-image: url(../images/about/my-photo-sm.jpg);
    background-size: 8.071rem 9.643rem;
    height: 9.643rem; }

  .bda-flag {
    height: 12rem; }

  .bda-coat-of-arms {
    height: 16.5rem; }

  /* 3D Box Images (Post Categories) */
  figure.box-fig {
    width: 24.053rem;
    height: 16.063rem; }

  figure.box-fig:hover {
    -webkit-transform: perspective(500) rotateX(90deg) translateY(-8.032rem) translateZ(8.032rem);
    transform: perspective(500) rotateX(90deg) translateY(-8.032rem) translateZ(8.032rem); }

  h2.box-title, h3.box-title {
    width: 24.053rem;
    height: 4.016rem;
    font-size: 1.5rem;
    padding: 0.5rem 0.1rem;
    line-height: 120%; }

  figcaption.box-caption {
    min-height: 16.063rem;
    padding: 1.5rem;
    line-height: 120%; }

  /* ------ Containers and background text ---------------*/
  /* Containers */
  .container-left {
    height: 42.5rem; }

  .container-right {
    height: 100%; }

  /* Text backgrounds */
  .text-bg {
    height: 100%; }

  aside {
    padding: 0.3% 0; }
    aside .text-bg {
      height: 100%; }

  .text-small-bg {
    height: 100% !important; }

  /* Cards */
  .card-height {
    height: 100%; } }
/*End of Media Queries - Small devices
---------------------------------------------------------------- */
/****************************************************************/
/*  Medium devices (tablets, 48em and up >=768px)               */
@media (min-width: 48rem) {
  body {
    margin-bottom: 35rem;
    /* Margin bottom by footer height */
    font-size: 1rem; }

  /* Footer----------------------------------------- */
  .footer {
    height: 35rem; }

  footer {
    font-size: 1.1rem; }
    footer ul {
      display: inline; }
      footer ul li {
        width: 20rem; }
    footer .navbar {
      padding: 0.5rem;
      margin: 1.5% 1.5%; }
    footer .fa-1x {
      font-size: 200%;
      padding: 0 0.5rem; }

  .form-fluid {
    font-size: 1.1rem; }
    .form-fluid button {
      margin-top: 0.1rem; }

  /* Navigation----------------------------------------- */
  /* NavBar */
  .navbar-dark .navbar-nav .nav-link {
    font-size: 1.85rem;
    padding-bottom: 0; }

  /* Language Navigation Bar */
  .language-nav {
    font-size: 0.95rem;
    width: 6.25rem;
    height: 2.188rem;
    padding-left: 1.15rem;
    margin-top: 0.9rem; }
    .language-nav a {
      padding: 0.44rem;
      margin-right: 0; }

  /* Search-box */
  .search-box {
    font-size: 1rem;
    margin-right: 3rem;
    margin-top: 0.35rem; }
    .search-box .form-control {
      width: 9.1rem;
      height: 2.1rem; }
    .search-box .btn {
      width: 2.7rem;
      height: 2.1rem;
      padding: 0.35rem; }

  /* Social-Media */
  .network-name {
    font-size: 1rem !important;
    padding: 0.2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem; }
    .network-name .fa-2x {
      font-size: 2rem !important; }
    .network-name .back-top {
      border-left: solid 0.1rem #F6EFEB; }

  /* ------ Images ---------------*/
  /* Parallax Images */
  .parallax-img-bg {
    padding: 17% 0;
    background-image: url(../images/jumbotron-img-md.jpg); }

  .img2-bg {
    background-image: url(../images/img-quote01-md.jpg); }

  .img3-bg {
    background-image: url(../images/img-quote02-md.jpg); }

  .underconstruction {
    background-image: url(../images/undercontruction-md.jpg) !important; }

  .no-landing-pg-hero-img {
    background-image: url(../images/no-landing-pg-hero-md.jpg) !important; }

  /* About Images */
  .my-photo {
    background-image: url(../images/about/my-photo-md.jpg);
    background-size: 100%; }

  .bda-flag {
    background-image: url(../images/about/flag-of-bermuda-md.png);
    background-size: 100%;
    height: 8rem; }

  .bda-coat-of-arms {
    background-image: url(../images/about/coat-of-arms-of-bermuda-md.png);
    background-size: 70%;
    height: 14rem; }

  /* 3D Box Images (Post Categories) */
  figure.box-fig {
    width: 22.5rem;
    height: 15rem; }

  figure.box-fig:hover {
    -webkit-transform: perspective(500) rotateX(90deg) translateY(-7.5rem) translateZ(7.5rem);
    transform: perspective(500) rotateX(90deg) translateY(-7.5rem) translateZ(7.5rem); }

  h2.box-title, h3.box-title {
    width: 22.5rem;
    height: 3.75rem; }

  figcaption.box-caption {
    min-height: 15rem; }

  /* ------ Containers and background text ---------------*/
  /* Containers */
  .container-left {
    height: 42rem; }

  .container-right {
    height: 100%; }

  /* Text backgrounds */
  .text-bg {
    height: 100%; }

  aside {
    padding: 0.3% 0; }
    aside .text-bg {
      height: 100%; }

  .text-small-bg {
    height: 100% !important; }

  /* Cards */
  .card-height {
    height: 53rem; }

  /* ------ start Animations style ---------------*/
  /* ------ Fly in Text style-------*/
  .fly-in-text {
    top: 10.5%; }

  .fly-in-text li {
    font-size: 2.5rem; } }
/*End of Media Queries - Medium devices
---------------------------------------------------------------- */
/***************************************************************/
/*  Large devices (desktops, 62em and up >=992px)               */
@media (min-width: 62rem) {
  body {
    margin-bottom: 23rem;
    /* Margin bottom by footer height */
    font-size: 1.25rem; }

  /* Footer----------------------------------------- */
  .footer {
    height: 23rem; }

  footer {
    font-size: 1.15rem; }
    footer ul {
      display: inline; }
      footer ul li {
        width: 15rem; }
    footer .navbar {
      padding: 0 0.5rem;
      margin-right: 1.5%; }
    footer .fa-1x {
      font-size: 120%;
      padding: 0 0.2rem; }

  .form-fluid {
    font-size: 1.15rem; }
    .form-fluid button {
      margin-top: 0; }

  /* Navigation----------------------------------------- */
  /* NavBar */
  .navbar-dark .navbar-nav .nav-link {
    font-size: 1.9rem; }

  /* Language Navigation Bar */
  .language-nav {
    font-size: 0.85rem;
    width: 6.5rem;
    height: 2.188rem;
    margin-top: 1rem; }
    .language-nav a {
      padding: 0.525rem;
      margin-right: 0.5%;
      margin-left: 0.5%; }

  /* Search-box */
  .search-box {
    font-size: 1.1rem;
    margin-right: 2rem;
    margin-top: 0.7rem; }
    .search-box .form-control {
      width: 8.1rem;
      height: 1.95rem; }
    .search-box .btn {
      width: 2.5rem;
      height: 1.95rem;
      padding: 0.35rem; }

  /* Social-Media */
  .network-name {
    font-size: 1.1rem !important;
    margin-top: 0.35rem;
    padding: 0.25rem; }
    .network-name .fa-2x {
      font-size: 2.2rem !important; }

  /* ------ Images ---------------*/
  /* Parallax Images */
  .parallax-img-bg {
    padding: 17% 0;
    background-image: url(../images/jumbotron-img-lg.jpg); }

  .img2-bg {
    background-image: url(../images/img-quote01-lg.jpg); }

  .img3-bg {
    background-image: url(../images/img-quote02-lg.jpg); }

  .underconstruction {
    background-image: url(../images/undercontruction-lg.jpg) !important; }

  .no-landing-pg-hero-img {
    background-image: url(../images/no-landing-pg-hero-lg.jpg) !important; }

  /* About Images */
  .my-photo {
    background-size: 100%;
    width: 11.429rem;
    height: 13.714rem; }

  .bda-flag {
    background-size: 100%;
    width: 21.429rem;
    height: 10.714rem; }

  .bda-coat-of-arms {
    background-size: 100%;
    width: 13.071rem;
    height: 19.236rem; }

  /* 3D Box Images (Post Categories) */
  figure.box-fig {
    width: 27.6rem;
    height: 18.4rem; }

  figure.box-fig:hover {
    -webkit-transform: perspective(500) rotateX(90deg) translateY(-9.2rem) translateZ(9.2rem);
    transform: perspective(500) rotateX(90deg) translateY(-9.2rem) translateZ(9.2rem); }

  h2.box-title, h3.box-title {
    width: 27.6rem;
    height: 4.6rem; }

  figcaption.box-caption {
    min-height: 18.4rem; }

  /* ------ Containers and background text ---------------*/
  /* Containers */
  .container-left {
    margin: 0;
    margin-left: -1%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 51%;
    height: 73rem;
    display: inline-block; }

  .container-right {
    margin: 0;
    margin-right: -1%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 51%;
    height: 73rem;
    float: right; }

  /* Text backgrounds */
  .text-bg {
    height: 70rem; }

  aside {
    padding: 0.3% 0; }
    aside .text-bg {
      height: 38rem; }

  .text-bg-left {
    margin-left: 5%;
    margin-right: -2.5%; }

  .text-bg-right {
    margin-left: -2.5%;
    margin-right: 5%; }

  .text-small-bg {
    height: 60rem !important; }

  /* Cards */
  .card-height {
    height: 46rem; }

  /* ------ start Animations style ---------------*/
  /* ------ Fly in Text style-------*/
  .fly-in-text {
    top: 11%; }

  .fly-in-text li {
    font-size: 4rem; } }
/*End of Media Queries - Large devices
---------------------------------------------------------------- */
/***************************************************************/
/*  Extra large devices (Extra large desktops, 75em and up ΓëÑ1200px) -Non-Retina Screens */
@media (min-width: 75rem) and (-webkit-min-device-pixel-ratio: 1) {
  body {
    /* Margin bottom by footer height */
    margin-bottom: 28rem; }

  /* Footer----------------------------------------- */
  .footer {
    height: 28rem;
    /* line-height: $footer-margin-bottom-xl; /* Vertically center the text there */ }

  footer {
    font-size: 1.15rem; }
    footer ul {
      display: inline; }
      footer ul li {
        width: 16rem; }

  .form-fluid {
    font-size: 1.15rem; }

  /* Navigation----------------------------------------- */
  /* NavBar */
  .navbar-dark .navbar-nav .nav-link {
    font-size: 1.95rem; }

  /* Language Navigation Bar */
  .language-nav {
    font-size: 0.86rem;
    margin-top: 1.25rem;
    width: 7.25rem;
    height: 2.8rem; }
    .language-nav a {
      padding: 0.745rem;
      margin-right: 0;
      margin-left: 0; }

  /* Search-box */
  .search-box {
    font-size: 1.2rem; }
    .search-box .form-control {
      width: 11.5rem;
      height: 2.5rem; }
    .search-box .btn {
      width: 2.8rem;
      height: 2.5rem;
      padding: .375rem; }

  /* Social-Media */
  .network-name {
    font-size: 1.15rem !important;
    padding: 0.425rem; }
    .network-name .fa-2x {
      font-size: 2.55rem; }

  /* ------ Images ---------------*/
  /* Parallax Images */
  .parallax-img-bg {
    padding: 17% 0;
    background-image: url(../images/jumbotron-img-xl.jpg); }

  .img2-bg {
    background-image: url(../images/img-quote01-xl.jpg); }

  .img3-bg {
    background-image: url(../images/img-quote02-xl.jpg); }

  .underconstruction {
    background-image: url(../images/undercontruction-xl.jpg) !important; }

  .no-landing-pg-hero-img {
    background-image: url(../images/no-landing-pg-hero-xl.jpg) !important; }

  /* 3D Box Images (Post Categories) */
  figure.box-fig {
    width: 22.5rem;
    height: 15rem; }

  figure.box-fig:hover {
    -webkit-transform: perspective(500) rotateX(90deg) translateY(-7.5rem) translateZ(7.5rem);
    transform: perspective(500) rotateX(90deg) translateY(-7.5rem) translateZ(7.5rem); }

  h2.box-title, h3.box-title {
    width: 22.5rem;
    height: 3.75rem; }

  figcaption.box-caption {
    min-height: 15rem; }

  /* ------ Containers and background text ---------------*/
  /* Containers */
  .container-left {
    height: 73rem; }

  .container-right {
    height: 73rem; }

  /* Text backgrounds */
  .text-bg {
    height: 68rem; }

  aside {
    padding: 0.3% 0; }
    aside .text-bg {
      height: 45rem; }

  .text-small-bg {
    height: 49rem !important; }

  /* Cards */
  .card-height {
    height: 53rem; }

  /* ------ start Animations style ---------------*/
  /* ------ Fly in Text style-------*/
  .fly-in-text {
    top: 12.7%; }

  .fly-in-text li {
    font-size: 5rem; } }
/*End of Media Queries - Extra large devices -Non-Retina Screens
---------------------------------------------------------------- */
/***************************************************************/
/*  Extra large devices (Extra large desktops, 75em and up ΓëÑ1200px) -RETINA Screens */
/*End of Media Queries - Extra large devices - RETINA Screens
---------------------------------------------------------------- */
/***************************************************************/
/*  Extra large devices (XXL Larg desktops, 93.75 and up ΓëÑ1500px) -Non-Retina Screens */
@media (min-width: 93.75rem) and (-webkit-min-device-pixel-ratio: 1) {
  /* ------ Images ---------------*/
  /* Parallax Images */
  .no-landing-pg-hero-img {
    background-image: url(../images/no-landing-pg-hero-xxl.jpg) !important; }

  /* 3D Box Images (Post Categories) */
  figure.box-fig {
    width: 27.9rem;
    height: 18.6rem; }

  figure.box-fig:hover {
    -webkit-transform: perspective(500) rotateX(90deg) translateY(-9.3rem) translateZ(9.3rem);
    transform: perspective(500) rotateX(90deg) translateY(-9.3rem) translateZ(9.3rem); }

  h2.box-title, h3.box-title {
    width: 27.9rem;
    height: 4.65rem; }

  figcaption.box-caption {
    min-height: 18.6rem; }

  .text-small-bg {
    height: 45rem !important; }

  /* Cards */
  .card-height {
    height: 50rem; }

  /* ------ start Animations style ---------------*/
  /* ------ Fly in Text style-------*/
  .fly-in-text {
    top: 14%; }

  .fly-in-text li {
    font-size: 4.1rem; } }
/*End of Media Queries - Extra large devices -Retina Screens
---------------------------------------------------------------- */

/*# sourceMappingURL=main.css.map */
